<li>
	{{name}}

	<button class="devour-it" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}That was delicious!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>